<div class="container">
<div class="row" style="padding:20px;">
    <div class="col-md-8">
        <div class="panel fifty">
            <div class="panel-body">
                 <h4>Welcome</h4>
                 <hr>
                 <% if @user.courses.count == 0 %>
                   <p>Enroll in some courses.</p>
                 <% else %>
                   <% @user.courses.each do |course| %>
                     <%= link_to course.title, course_path(course) %><br>
                     <% if current_user.admin? %>
                     <%= link_to 'Delete', enrollment_path(course_id: course), method: :delete %>
                     <% end %>
                     <hr>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading bg-blue font-white">
              <h4>Courses</h4>
            </div>
            <div class="panel-body">
               ##refactor to model
                 <% Course.all.each do |course| %>
                 <h4><%= course.title %></h4>
                 <%= button_to 'Enroll', enrollments_path(course_id: course) %></p>
                 <hr>
                 <% end %>
            </div>
        </div>
    </div>
</div>
