<div class="container-fluid hero bg-cartoon">
  <div class="row">
    <div class="col-md-4 col-md-offset-3 hero-sign_up">
      <h1 class="font-white">Every child should dream.</h1>

      <%= link_to "Start learning", new_user_registration_path, class: "btn btn-primary outline-white" %>
   </div>
  </div>
</div>

<div class="container">
<div class="row" style="padding:20px;">
    <div class="col-xs-8">
        <div class="panel fifty">
            <div class="panel-body">
                 <h4>First Cell</h4>

            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel">
            <div class="panel-heading">
              Heading
            </div>
            <div class="panel-body">
                 <h4>Third Cell</h4>
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>
<div class="row" style="padding:20px;">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-body">
                 <h4>First Cell</h4>

            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              Heading
            </div>
            <div class="panel-body">
                 <h4>Third Cell</h4>
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>
</div>

<div class="container">
  <h2>Panel Heading</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
      <div class="panel-heading">Panel Heading</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
