<div class="container-fluid hero bg-cartoon">
  <div class="row">
    <div class="col-md-4 col-md-offset-3 hero-sign_up">
      <h1 class="font-white">Every child should dream.</h1>
      <%= link_to "Start learning", new_user_registration_path, class: "btn btn-primary outline-white" %>
   </div>
  </div>
</div>

<div class="container-fluid bg-gray">
<div class="row" style="padding:20px;">
    <div class="col-md-3 col-md-offset-2">
      <%= image_tag("globe.png", height: '180', class: "globe") %>
    </div>
    <div class="col-md-3">
        <h3 class="font-2">Lorem ipsum dolor sit amet</h3>
          <p class="font-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
          </p>
        </div>
    </div>
</div>
<div class="container-fluid bg-white">
  <div class="container bg-white">
    <div class="row" style="padding:20px;">
      <div class="col-md-4">
        <h3 class="font-1">Lorem</h3>
        <p class="font-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
      </div>
      <div class="col-md-4">
        <h3 class="font-1">Lorem</h3>
        <p class="font-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
      </div>
      <div class="col-md-4">
        <h3 class="font-1">Lorem</h3>
        <p class="font-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum felis. Integer id porttitor nisi.
      </div>
    </div>
  </div>
</div>
<div class="container-fluid fifty footer">
</div>
