<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset2">
        <h4 class="font-1"><%= @lesson.title %></h4>
          <%= raw @lesson.content %>
        <% if current_user.admin? %>
        <%= link_to 'Edit', edit_course_lesson_path(@course, @lesson), class: "btn btn-primary" %>
        <% end %>
        <%= link_to 'Back', course_lessons_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
